* {
  padding: 0;
  margin: 0;
  font-family: "Inter";
}

/* HEADER */
.nav-account {
  margin-left: 10px;
  color: black;
  background-color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
}

.nav-account a {
  text-decoration: none;
}

/* HOME */

/* SECTION ONE */

.home-top {
  display: flex;
  padding: 30px;
  align-items: center;
  position: relative;
  background-image: url("./images/hero-bg.png");
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}

.home-top .home-top-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.home-top .home-shop {
  color: white;
  text-align: start;
  font-size: 18px;
  font-weight: 400;
}

.home-top .home-new {
  color: white;
  text-align: start;
  font-weight: 500;
  font-size: 50px;
}

.home-top a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid white;
  padding: 10px 20px;
  background-color: transparent;
  color: white;
  width: fit-content;
  text-decoration: none;
}

/* Secton 2 */
.home-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 50px 15px;
  background-color: #d6cec7;
}

.home-product-text {
  position: relative;
  padding-bottom: 8px;
}

.home-product-bottom h5 {
  font-size: 16px;
}

.home-product-text:before {
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  bottom: 0;
  left: 25%;
  border-bottom: 3px solid black;
}

#home-product-one,
#home-product-two,
#home-product-three,
#home-product-four {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#home-product-one-wrapper,
#home-product-two-wrapper,
#home-product-three-wrapper,
#home-product-four-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-product-image {
  width: 250px;
  height: 300px;
  overflow: hidden;
}

.home-product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#home-product-one-text,
#home-product-two-text,
#home-product-three-text,
#home-product-four-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  opacity: 0;
  visibility: hidden;
  padding: 10px;
  position: absolute;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  inset: 0;
}

#home-product-one-text.overlay,
#home-product-two-text.overlay,
#home-product-three-text.overlay,
#home-product-four-text.overlay {
  visibility: visible;
  opacity: 1;
}

.home-middle .home-product-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 25px;
  align-items: center;
  justify-self: center;
}

.home-product-bottom {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  align-items: center;
}

.home-product-bottom h5 {
  font-weight: 500;
}

.home-product-bottom .home-product-cart {
  background-color: black;
  width: 35px;
  padding: 5px 10px;
  border-radius: 5px;
}

.home-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 50px 15px;
  background-color: burlywood;
}

.home-bottom p {
  padding: 0 10px;
  font-size: 20px;
}

/* PRODUCT */
body {
  background-image: url("images/products/Rectangle 14.jpg");
  background-size: cover;
}

.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-display {
  width: 300px;
  display: inline-block;
  padding: 50px 0px;
}

.image-k {
  position: relative;
  display: inline-block;
}

.blackshirt-ken {
  width: 300px;
  display: inline-block;
  opacity: 0.3s;
}
.blackshirt-ken3 {
  width: 300px;
  height: 361px;
}

.overlay {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.735);
  color: white;
  padding: 30px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.8s;
}

.image-k:hover .overlay {
  opacity: 1;
  cursor: pointer;
}

.discount {
  position: absolute;
  color: rgb(250, 249, 249);
  background-color: rgb(255, 1, 1);
  padding: 8px;
  display: inline-block;
  font-weight: bold;
  right: 0;
}

.product-name {
  font-weight: bold;
  padding-top: 18px;
  padding-bottom: 18px;
}

.info {
  display: inline-block;
  width: 244px;
}

.price-tag {
  padding-bottom: 10px;
}

.product-cart {
  display: inline-block;
}

.product-cart:hover {
  cursor: pointer;
}

.cart-logo {
  width: 50px;
}

.center-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;
  justify-content: center;
  width: auto;
}

.christmas-sales {
  width: 100vw;
  height: 350px;
}

.christmas {
  /* position: relative; */
  display: inline-block;
}
.christmas-info {
  position: absolute;
  display: inline-block;
  left: 0;
  color: #fff;
  font-size: 60px;
  -webkit-text-stroke: 2px #f10909;
  font-family: "Inter", sans-serif;
  font-weight: bold;
}

/* QUICK VIEW */
.quickview {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.quickview-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.quickview-two {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: space-between;
}

.quickview-two h3 {
  text-align: center;
}

.quickview-colors {
  display: flex;
  gap: 1px;
}

.quickview-colors .color {
  width: 50px;
  aspect-ratio: 1;
}

.quickview-colors .color-one {
  background-color: green;
}
.quickview-colors .color-two {
  background-color: black;
}
.quickview-colors .color-three {
  background-color: red;
}
.quickview-colors .color-four {
  background-color: orange;
}

.quickview-quantity {
  display: flex;
  gap: 8px;
}

.quickview-quantity .quantity {
  display: flex;
  align-items: center;
  gap: 18px;
  padding: 5px;
  height: 50px;
  background-color: white;
}

.quickview-quantity button {
  outline-style: none;
  padding: 5px;
  border: none;
}

.quickview-quantity h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  background-color: white;
  color: #838181;
  padding: 0 30px;
  height: 50px;
}

/* ACCESSORIES */

/* CART */

.cart-page {
  padding: 80px 0px;
}
#cart-black-rectangle {
  width: 200px;
  height: 50px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -5px;
  left: -5px;
  z-index: 2;
}
#cart-white-rectangle {
  width: 200px;
  height: 50px;
  background-color: white;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 40px;
  left: 150px;
  z-index: 1;
}
#cart-text1 {
  font-size: 30px;
  margin-top: 70px;
  margin-left: 150px;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 0;
}
#cart-text2 {
  font-size: 18px;
  margin-top: 10px;
  margin-left: 150px;
  line-height: 1;
  margin-bottom: -20px;
}
#cart-linked-text {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

/* FOOTER */
.footer {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  width: 100%;
  padding: 20px 30px;
  padding: 30px;
  gap: 20px;
}

.footer-two,
.footer-two-link {
  display: flex;
  gap: 30px;
}

.footer-two {
  justify-content: space-between;
  align-items: last baseline;
}

.footer-two img {
  height: 50px;
}
.footer-company,
.footer-connect {
  color: white;
}

.footer-two ul {
  list-style: none;
}

.footer-two .footer-company ul li a,
.footer-connect ul li a {
  text-decoration: none;
  color: white;
}

.footer p {
  text-align: center;
}

/* ACCUNT */
/* sign in form */

#form-container {
  display: flex;
  justify-content: center;
}
#account-form {
  margin-top: 50px;
  border: 1px solid black;
  width: 30%;
  padding: 30px;
  height: fit-content;
}
#account-signin {
  font-size: 40px;
  text-align: center;
  margin-top: 0;
  line-height: 1;
}
#account-font {
  font-size: 20px;
}
#account-input {
  margin-top: 10px;
  width: 100%;
  height: 25px;
}
#account-submit {
  margin-top: 10px;
  width: 100%;
  height: 40px;
  font-size: 16px;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
/* New to VASK*/
#account-text {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 30px;
}
#account-hr-text {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 30px;
}
#account-container {
  max-width: 480px;
  margin: 0 auto;
  overflow: hidden;
}
#account-hr-text-content {
  padding: 0 10px;
  position: relative;
  z-index: 1;
  background-color: white;
}
#account-hr-text:before,
#account-hr-text:after {
  content: "";
  flex-grow: 1;
  height: 1px;
  background-color: grey;
}
/* skip to creation page buttom*/
#account-creation {
  margin-top: 10px;
  width: 100%;
  height: 40px;
  font-size: 16px;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
/* creation formt*/
#account-lable {
  font-size: 30px;
  text-align: center;
  top: 0;
  line-height: 1;
}
#another-form {
  margin-top: 50px;

  border: 1px solid black;
  width: 30%;
  padding: 30px;
  height: fit-content;
}
#creation-font {
  margin-top: 5px;
  font-size: 20px;
}
#creation-input {
  width: 100%;
  height: 30px;
  font-size: 15px;
}
#creation-submit {
  margin-top: 10px;
  width: 100%;
  height: 40px;
  font-size: 16px;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#creation-sex-select {
  font-size: 15px;
  margin-top: 5px;
  height: 30px;
  margin-left: 5px;
}
#creation-birth {
  font-size: 15px;
  margin-top: 10px;
  height: 30px;
  margin-left: 5px;
  margin-right: 5px;
}

/* FAQ */
#FAQ-header {
  position: relative;
  text-align: center;
  cursor: pointer;
  margin: 15px auto;
}
#FAQ-header::after {
  content: "";
  position: absolute;
  bottom: -5px;
  height: 4px;
  left: 0;
  right: 0;
  background-color: black;
  transition: transform 0.3s;
  transform-origin: center;
}
#FAQ-header:hover::after {
  transform: scale(0);
}

#FAQ-section-one {
  text-align: center;
}

#FAQ-section-one ul li {
  list-style: decimal;
}

#FAQ-back-to-top {
  text-align: right;
  box-sizing: border-box;
  padding: 5px;
  background: linear-gradient(90deg, #03a9f4, #f441a5);
  display: inline-block;
  transition: transform 0.3s;
  border-radius: 200px;
}

#FAQ-back-to-top:hover {
  transform: scale(1.1);
}

.faq-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.hr-line {
  width: 60%;
  margin: auto;
}
/* Style the buttons that are used to open and close the faq-page body */
.faq-page {
  /* background-color: #eee; */
  color: #444;
  cursor: pointer;
  padding: 30px 20px;
  width: 70%;
  border: none;
  outline: none;
  transition: 0.4s;
  margin: auto;
}
.faq-body {
  margin: auto;
  /* text-align: center; */
  width: 70%;
  padding: auto;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.faq-active,
.faq-page:hover {
  background-color: #f9f9f9;
}

/* Style the faq-page panel. Note: hidden by default */
.faq-body {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.faq-page:after {
  content: "\02795";
  /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.faq-active:after {
  content: "\2796";
  /* Unicode character for "minus" sign (-) */
}

/* ABOUT US */

.about-content-one {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 20px auto;
}

.about-content-one h2 {
  font-size: 50px;
  color: rgb(53, 20, 83);
  margin-bottom: 25px;
  position: relative;
}

.about-content-one h2::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  display: block;
  margin: 0 auto;
  background-color: #4caf50;
}

.about-content-one p {
  margin-bottom: 35px;
}

.about-section-2 {
  width: 90%;
  margin: 0 auto;
  padding: 10px 20px;
}

.about-image {
  position: relative;
  width: 300px;
  flex: 1;
  margin-right: 40px;
  overflow: hidden;
}
.image-victor {
  width: 500px;
}
.aboutus-victor {
  display: flex;
}
.about-image img {
  max-width: 100%;
  height: auto;
  display: block;
  transition: 0.5s ease;
}
.about-image :hover img {
  transform: scale(1.2);
}

.about-content-2 {
  position: relative;
  display: inline-block;
  flex: 1;
}

.about-content-2 .read-more {
  display: inline-block;
  padding: 10px 20px;
  background-color: #1eb53a;
  color: white;
  font-size: 19px;
  text-decoration: none;
  border-radius: 26px;
  transition: 0.3s;
}
.about-content-2 .read-more:hover {
  background-color: #100303;
}
/* CONTACT US */
.contact-section-one {
  margin: 50px 0px;
}
.contact-form-container {
  width: 50%;
  margin: auto;
  padding: 2%;
  border: 1px solid #f7f7f7;
}
.contact-form-container label {
  display: block;
  margin-top: 25px;
  font-size: 1rem;
}
.contact-form-container input[type="text"],
.contact-form-container textarea,
.contact-form-container select {
  width: 80%;
  padding: 15px;
  font-size: 1rem;
  border: 1px solid #ccc;
}
.contact-form-container button {
  width: 82.5%;
  height: 50px;
  border-radius: 5px;
  color: #fff;
  background: red;
  line-height: 1rem;
  font-size: 1rem;
  cursor: pointer;
  border: 1px solid red;
  margin-top: 25px;
  transition: color 0.4s ease-out, background 0.4s ease-out;
}
.contact-form-container button:hover {
  color: red;
  background: #fff;
}
.contact-form-container .errors {
  display: block;
  color: red;
  margin-top: 5px;
}
.contact-form-container .error {
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  box-shadow: 0 0 15px 0 rgba(255, 36, 0, 1);
}

/* \responsiveness */
/* Media query for mobile devices */

@media (max-width: 980px) {
  .home-middle .home-product-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .center-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (max-width: 768px) {
  /* Hide nav on mobile screens */
  .home-top {
    height: 80vh;
  }

  .home-top .home-new {
    font-size: 40px;
  }

  .home-middle .home-product-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .center-container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .contact-form-container {
    width: 100%;
  }
  .quickview-wrapper {
    flex-direction: column;
  }
  .quickview-wrapper .quickview-two {
    align-items: center;
  }
  .quickview-wrapper {
    padding-top: 60px;
  }
  .footer-two {
    flex-direction: column;
  }
  .footer-two img {
    width: 100%;
  }

  .footer {
    align-items: center;
  }

  .aboutus-victor {
    flex-direction: column;
  }

  .faq-page {
    width: 100%;
  }
  .faq-body {
    width: 100%;
  }

  #account-form,
  #another-form {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .home-middle .home-product-container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

/* GAME */

.game-container ul {
  list-style: none;
}

.game-container h1 {
  text-align: center;
  font-size: 20px;
  text-transform: capitalize;
  color: black;
  padding-top: 25px;
  font-family: "Press Start 2P";
}

.game-container h3 {
  font-size: 16px;
  text-transform: capitalize;
  color: black;
  font-family: "Press Start 2P";
}

.game-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 30px;
}

.game-box span {
  font-family: "Press Start 2P";
}

.game-box .game-count {
  font-size: 20px;
  font-weight: 700;
  color: black;
  text-transform: capitalize;
  padding: 20px;
  font-family: "Press Start 2P";
}

.game-score span {
  font-family: "Press Start 2P";
}

.game-flags {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 10px;
}

.game-flags .game-flag-img {
  width: 70%;
}

.game-flags .game-flag-img img {
  width: 80%;
  aspect-ratio: 3/2;
}

.game-flags .game-flag-options {
  margin-top: 2rem;
}

.game-flags .game-flag-options ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
}

.game-flags .game-flag-options ul li {
  font-size: 20px;
  text-transform: capitalize;
  margin-bottom: 20px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  /* width: 240px; */
  color: black;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

#game-newGame {
  border: none;
  background-color: black;
  padding: 20px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 20px;
}

.game-score {
  display: none;
  padding: 20px;
  border-radius: 10px;
}

.game-score .game-right,
.game-score .game-incorrect {
  color: black;
  padding: 0;
}

.game-flags .game-flag-options ul li.active {
  background-color: black;
  color: white;
}

.game-flags .game-flag-options ul li.success {
  background-color: #1eb53a;
}

.game-flags .game-flag-options ul li.wrong {
  background-color: red;
}

@media (min-width: 375px) {
  h1,
  h3,
  .game-box .game-count {
    font-size: 12px;
  }

  .game-flags .game-flag-img,
  .game-flags .game-flag-options ul {
    width: 400px;
  }

  .game-flags .game-flag-options ul li {
    width: 100%;
  }
}

@media (min-width: 991px) {
  .game-flags .game-flag-options ul li:hover {
    background-color: black;
    color: white;
  }
}
