* {
  padding: 0;
  margin: 0;
  font-family: "Inter";
}

/* HEADER */
.header {
  z-index: 5;
  position: relative;
  background-color: #100303;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  border-bottom: 1px solid black;
}

.header-logo img {
  width: 150px;
  padding: 4px;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header-nav .header-nav-div {
  background-color: white;
  width: 2px;
  height: 30px;
}

.header-nav-list ul {
  list-style-type: none;
}

.header-nav-list li {
  display: inline;
  padding: 0px 15px;
}

.header-nav-list a {
  text-decoration: none;
  color: white;
}

.header-menu {
  display: flex;
  align-items: center;
  gap: 5px;
}

.cart {
  display: none;
}

/* mobile nav */
#burger-menu {
  display: none;
  cursor: pointer;
  height: 22px;
  width: 22px;
  overflow: visible;
  position: relative;
  z-index: 2;
}

#burger-menu span,
#burger-menu span:before,
#burger-menu span:after {
  background: #fff;
  display: block;
  height: 2px;
  opacity: 1;
  position: absolute;
  transition: 0.3s ease-in-out;
}
#burger-menu span:before,
#burger-menu span:after {
  content: "";
}
#burger-menu span:before {
  left: 0px;
  top: -8px;
  width: 22px;
}
#burger-menu span {
  right: 0px;
  top: 13px;
  width: 22px;
}
#burger-menu span:after {
  left: 0px;
  top: 8px;
  width: 22px;
}
#burger-menu.close span:before {
  top: 0px;
  transform: rotate(90deg);
  width: 22px;
}
#burger-menu.close span {
  transform: rotate(-45deg);
  top: 10px;
  width: 22px;
}
#burger-menu.close span:after {
  top: 0px;
  left: 0;
  transform: rotate(90deg);
  opacity: 0;
  width: 0;
}

#header-nav-mobile {
  display: none;
  background: rgba(0, 0, 0, 0.4);
  padding: 20px;
  position: absolute;
  right: 0;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  transition: all 0.3s ease-in-out;
  top: 70px;
}

#header-nav-mobile.overlay {
  visibility: visible;
  opacity: 1;
  background: rgba(0, 0, 0, 0.85);
}
#header-nav-mobile ul {
  padding: 0;
}
#header-nav-mobile li {
  list-style: none;
}
#header-nav-mobile a {
  color: #fff;
  display: block;
  font-size: 20px;
  margin-bottom: 30px;
  text-decoration: none;
}

.header-nav-mobile-list li {
  padding: 15px 0;
  text-align: center;
}

.header-nav-mobile-list a {
  text-decoration: none;
  color: white;
}

.cart:hover .header-nav-mobile {
  display: block;
}

/* HOME */

/* SECTION ONE */
.home-top {
  display: flex;
  padding: 30px;
  align-items: center;
  position: relative;
  background-image: url("./images/hero-bg.png");
  background-position: center;
  height: 350px;
}

.home-top .home-top-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.home-top .home-shop {
  color: white;
  text-align: start;
  font-size: 18px;
  font-weight: 400;
}

.home-top .home-new {
  color: white;
  text-align: start;
  font-weight: 500;
  font-size: 50px;
}

.home-top button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: none;
  border: 2px solid white;
  padding: 10px 20px;
  background-color: transparent;
  color: white;
  width: fit-content;
}

/* Secton 2 */
.home-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 10px;
  background-color: #d6cec7;
}

.home-middle .home-product-text {
  position: relative;
  padding-bottom: 8px;
}

.home-middle .home-product-text:before {
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  bottom: 0;
  left: 25%;
  border-bottom: 3px solid black;
}

#home-product-one,
#home-product-two,
#home-product-three,
#home-product-four {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-product-one-wrapper,
.home-product-two-wrapper,
.home-product-three-wrapper,
.home-product-four-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#home-product-one-text,
#home-product-two-text,
#home-product-three-text,
#home-product-four-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  opacity: 0;
  visibility: hidden;
  padding: 10px;
  position: absolute;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  inset: 0;
}

#home-product-one-text.overlay,
#home-product-two-text.overlay,
#home-product-three-text.overlay,
#home-product-four-text.overlay {
  visibility: visible;
  opacity: 1;
}

.home-middle .home-product-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 25px;
  align-items: center;
  justify-self: center;
}

.home-product-bottom {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  align-items: center;
}

.home-product-bottom h5 {
  font-weight: 500;
}

.home-product-bottom .home-product-cart {
  background-color: black;
  width: 15px;
  height: 15px;
  padding: 8px 15px;
  border-radius: 5px;
}

/* PRODUCT */
.product-display{
 width:300px;
 display:inline-block;
 margin:70px;
}

.image-k{
 position:relative;
 display:inline-block;	
}

.blackshirt-ken{
 width:300px;
 display:inline-block;
 opacity:0.3s;
  
}

.overlay {
  position: absolute;
  right:0;
  left:0;
  bottom:0;
  background-color: rgba(0, 0, 0, 0.735);
  color: white;
  padding: 30px;
  text-align:center;
  opacity: 0; 
  transition: opacity 0.8s;
}

.image-k:hover .overlay {
  opacity: 1;
  cursor: pointer; 
}
 

.discount{
 position: absolute;
 color:rgb(250, 249, 249);
 background-color:black;
 display:inline-block;
 font-weight: bold;
}

.product-name{
	font-weight: bold;
  padding-top: 18px;
  padding-bottom:18px;
}

.info{
	display:inline-block;
	width:244px;
}

.price-tag{
	padding-bottom:10px;
	
}

.cartt{
  display:inline-block;
}

.cartt:hover{
 cursor: pointer; 
}

  
.cart-logo{
  width:50px;
}

.center-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: auto;
  height: 600px;
}

/* ACCESSORIES */

/* CART */

/* FAQ */
#FAQ-header {
  width: max-content;
  position: relative;
  cursor: pointer;
  margin: 15px auto;
}
#FAQ-header::after {
  content: "";
  position: absolute;
  bottom: -5px;
  height: 4px;
  width: 100%;
  left: 0;
  background-color: black;
  transition: transform 0.3s;
  transform-origin: center;
}
#FAQ-header:hover::after {
  transform: scale(0);
}

#FAQ-section-one {
  text-align: center;
}

#FAQ-section-one ul li {
  list-style: decimal;
}

#FAQ-back-to-top {
  text-align: right;
  box-sizing: border-box;
  padding: 5px;
  background: linear-gradient(90deg, #03a9f4, #f441a5);
  display: inline-block;
  transition: transform 0.3s;
  border-radius: 200px;
}

#FAQ-back-to-top:hover {
  transform: scale(1.1);
}


/* ABOUT US */

/* CONTACT US */

/* FOOTER */
.footer {
  padding: 20px;
  background-color: black;
}

/* \responsiveness */
/* Media query for mobile devices */

@media (max-width: 980px) {
  .home-middle .home-product-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .home-product-container img {
    width: 150px;
  }
}
@media (max-width: 768px) {
  /* Hide nav on mobile screens */
  .header-nav-list {
    display: none;
  }

  #burger-menu {
    display: block;
  }

  #header-nav-mobile {
    display: block;
  }

  .home-top {
    height: 80vh;
  }

  .home-top .home-new {
    font-size: 40px;
  }

  .home-middle .home-product-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .home-product-container img {
    width: 180px;
  }
}

@media (max-width: 600px) {
  .home-middle .home-product-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .home-product-container img {
    width: 150px;
  }
}
